.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.wrapper h1 {
  text-align: center;
  width: 100%;
}

.alert-wrapper {
  padding: 15px;
  margin-bottom: 15px;
}

.alert-wrapper > h2 {
  margin: 0 0 10px 0;
}

.alert-wrapper.success {
  border: #6da06f solid 1px;
}

.success > h2 {
  color: #6da06f;
}

.alert-wrapper.error {
  border: #f56260 solid 1px;
}

.error > h2 {
  color: #f56260;
}